.noun-wrapper {
  display: block;
  height: 100%;
  width: 300%;
  margin-left: 0%;
  @include transition(margin-left 1s);

  &.sentence {
    margin-left:0%;
    @include transition(margin-left 1s);
  }
  &.words {
    margin-left:-200%;
    @include transition(margin-left 1s);
  }

  section {
    display:inline-block;
    position: relative;
    float:left;
    height: 100%;
    width: 33.33333%;
  }
}