.noun-wrapper {
  display: block;
  height: 100%;
  width: 300%;
  margin-left: -200%;
  section {
    display:inline-block;
    position: relative;
    float:left;
    height: 100%;
    width: 33.33333%;
  }
}