////////////////////////////
// COLOR SCHEMES ///////////
////////////////////////////

$black: rgb(15, 15, 15);
$red: rgb(229, 87, 68);

// Everyone obey's the general first

html,body {
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

section {
  display: inline-block;
}

h2 {

}

h3 {

}

a {
  text-decoration: none;
}
